@reference '../../../app.css';

article#post {
	@variant max-sm {
		font-size: 90%;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply font-bold tracking-tight;
		&::before {
			@apply font-extralight;
		}
	}
	h2,
	h3,
	h4 {
		@apply mt-6 leading-3;
	}
	h1 {
		@apply text-3xl;
		&::before {
			content: '# ';
		}
	}
	h2 {
		@apply text-2xl;
		&::before {
			content: '#​# ';
		}
	}
	h3 {
		@apply text-xl;
		&::before {
			content: '#​#​# ';
		}
	}
	h4 {
		@apply text-lg;
		&::before {
			content: '#​#​#​# ';
		}
	}

	hr {
		@apply my-8;
	}

	a {
		@apply italic underline;
	}

	pre,
	code {
		@apply bg-slate-100 text-slate-700;
	}

	:not(pre) > code,
	pre {
		@apply outline outline-offset-1 outline-slate-300;
	}

	pre {
		@apply m-2 overflow-y-scroll p-2 text-base text-slate-700;

		& .hljs-built_in,
		& .hljs-keyword {
			@apply text-slate-900;
		}
		& .hljs-title {
			@apply font-medium text-slate-800;
		}
		& .hljs-comment {
			@apply font-extralight text-slate-500 italic;
		}
	}
}
