@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Black-Oblique.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Bold-Oblique.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-ExtraBold-Oblique.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-ExtraLight-Oblique.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Light-Oblique.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Medium-Oblique.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Oblique.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-SemiBold-Oblique.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-SemiLight-Oblique.woff') format('woff');
	font-weight: 350;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-SemiLight.woff') format('woff');
	font-weight: 350;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Thin-Oblique.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Berkeley Mono';
	src: url('/BerkeleyMono-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
